<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag asset_path('logo.png')%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Gallery", gallery_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Rental", rental_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact Us", contact_path, class: "nav-link" %>
          </li>
          <div class="nav-links">
          <a href="https://www.instagram.com/f.rambocusevents/?hl=en"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/frambocuseventsltd/"><i class="fab fa-facebook"></i></a>
          <a href="https://www.tiktok.com/@weddingmauritius?lang=en"><i class="fa-brands fa-tiktok"></i></a>
          </div>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="card-trip">
    <img src="https://res.cloudinary.com/dshqvee0g/image/upload/v1677090676/events/flamingo_mx3h2g.jpg" class="h-50" />
    <div class="card-trip-infos">
      <div>
        <h4>Contact Us</h4>
        <h6><i class="fa-solid fa-square-phone"></i> 5256 3105 - 5902 7262</h6>
        <h6><i class="fa-solid fa-envelope"></i> info@frambocusevents.me</h6>
        <h6><i class="fa-solid fa-envelope"></i> f.rambocusevents@gmail.com</h6>
        <h6><i class="fa-solid fa-location-dot"></i> La Caverne No.2, Vacoas, Mauritius</h6>
        <div>
        <a class="btn btn-success" href="https://www.google.com/maps/dir/65.0305156,25.489746/frambocusevents/@17.8699912,3.0797109,3z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x217c5de9664b0dc1:0x981d6c704dd6a119!2m2!1d57.4792978!2d-20.3031229" role="button">Google Map Direction</a>
        </div>
        <br>

        <p>Follow us</p>
        <a href="https://www.instagram.com/f.rambocusevents/?hl=en"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/frambocuseventsltd/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.tiktok.com/@weddingmauritius?lang=en"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
  </div>
</div>
