<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag asset_path('logo.png')%>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Gallery", gallery_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Rental", rental_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact Us", contact_path, class: "nav-link" %>
          </li>
          <div class="nav-links">
          <a href="https://www.instagram.com/f.rambocusevents/?hl=en"><i class="fa-brands fa-square-instagram"></i></i></a>
          <a href="https://www.facebook.com/frambocuseventsltd/"><i class="fa-brands fa-facebook"></i></i></a>
          <a href="https://www.tiktok.com/@weddingmauritius?lang=en"><i class="fa-brands fa-tiktok"></i></a>
          </div>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://scontent.fqlf1-2.fna.fbcdn.net/v/t39.30808-6/311588387_5613514775383177_3934925991162343569_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=a26aad&_nc_ohc=GZ_WHF8t2JUAX85qt_S&_nc_ht=scontent.fqlf1-2.fna&oh=00_AfBB8HrCdVu8x5rOiqAeNuDWxWiM3HOsD06Bsujw3Y09Tg&oe=6387B81F" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>FRambocus Events</h1>
        <h4>We Create. You Celebrate</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fqlf1-2.fna.fbcdn.net/v/t39.30808-6/312937969_5638322962902358_674805020705245957_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=a26aad&_nc_ohc=UqisyhWG6CQAX-e0oH5&_nc_ht=scontent.fqlf1-2.fna&oh=00_AfBTWzruyG1UR0glvhW3RqPDB7ZOo4ipcDJPoQXF4hMicg&oe=63869658" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fqlf1-2.fna.fbcdn.net/v/t39.30808-6/313421667_5638302409571080_1997746720262066306_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a26aad&_nc_ohc=hQ12kyYrziYAX-ZJ5Oy&_nc_ht=scontent.fqlf1-2.fna&oh=00_AfAObbIQGy4W1eYYd8aYnBygAQJb-bopLXfGnsMZy7Fe7Q&oe=6387C6CB" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div id="container">

	<div class="product-details">

	<h2>F Rambocus Events Ltd</h2>
	<span class="hint-star star">
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
		<i class="fa fa-star" aria-hidden="true"></i>
	</span>

			<p class="information">We are an award winning Events company that focus on delivering the best services to make your Event a success.</p>


</div>

<div class="product-image">

	<img src="https://scontent.fqlf1-2.fna.fbcdn.net/v/t39.30808-6/316280921_5686916571376330_3952851963683128398_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=alaG-qHBn4wAX-XDPTH&_nc_ht=scontent.fqlf1-2.fna&oh=00_AfARUEHz9O3B6IGe8vWiJDq1tU_lVIvsEvCF0ZNE6HxFgA&oe=638A91A4" alt="">


<div class="info">
	<h2> About Us</h2>
	<ul>
		<li><strong>Founded in: </strong>1989 </li>
		<li><strong>Offers: </strong>Wedding Planning Services</li>
		<li><strong>Rental: </strong>Tents & Events Equipments</li>
		<li><strong>Designs: </strong>Customized</li>

	</ul>
</div>
</div>

</div>
<div class="container">

  <div class="intro">
  <p>We at F.Rambocus Events LTD have complete understanding of the importance of timing, coordination, and countless other details that go into planning events. Whether the event is corporate or social,F.Rambocus Events LTD incorporates themes, design layouts, event formats, and decor with the ultimate goal of making your design-specific event a most elegant, unique, and memorable experience. Make your dream wedding charming and unexampled.</p>
  </div>
  <br>


  <div class="card-product">
        <iframe width="500" height="300" src="https://www.shutterstock.com/shutterstock/videos/1087581521/preview/stock-footage-wedding-beach-set-up-arch-pink-concept-for-seaside-and-daytime-wedding-woods-chair-s-gold-concept.webm" frameborder="0" allowfullscreen></iframe>
        </iframe>
    <div class="card-product-infos">
      <h2>Beach Wedding</h2>
      <p> Plan your Unforgettable <strong>Beach Wedding</strong> with us.</p>
    </div>
  </div>
</div>


<br>
<div class="footer">
  <div class="footer-texts">
    <h4>Contact Us</h4>
        <h6><i class="fa-solid fa-square-phone"></i> 5256 3105 - 5902 7262</h6>
        <h6><i class="fa-solid fa-envelope"></i> info@frambocusevents.me</h6>
        <h6><i class="fa-solid fa-envelope"></i> f.rambocusevents@gmail.com</h6>
        <h6><i class="fa-solid fa-location-dot"></i> La Caverne No.2, Vacoas, Mauritius</h6>
  </div>
  <div class="footer-links">
    <h5>Follow us<h5>
    <a href="https://www.instagram.com/f.rambocusevents/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/frambocuseventsltd/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.tiktok.com/@weddingmauritius?lang=en"><i class="fa-brands fa-tiktok"></i></a>
  </div>
  <div class="footer-copyright">
    <p> Copyright Reserved 2022 @F.Rambocus Events Ltd </p>
  </div>
</div>
